@font-face {
  font-family: 'Rework Semibold';
  src: url('/fonts/ReworkTextTRIAL-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rework Bold';
  src: url('/fonts/ReworkTextTRIAL-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: 'Rework Semibold', sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

